<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDisplayName</key>
  <string>$(PRODUCT_NAME)</string>
  <key>CFBundleIdentifier</key>
  <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
  <key>CFBundleName</key>
  <string>$(PRODUCT_NAME)</string>
  <key>CFBundleShortVersionString</key>
  <string>$(MARKETING_VERSION)</string>
  <key>CFBundleVersion</key>
  <string>$(CURRENT_PROJECT_VERSION)</string>
  <key>LSRequiresIPhoneOS</key>
  <true/>
  <key>UILaunchScreen</key>
  <dict/>
  <key>CONVEX_BASE_URL</key>
  <string>$(CONVEX_BASE_URL)</string>
  <key>CONVEX_HTTP_ACTION_BASE_URL</key>
  <string>$(CONVEX_HTTP_ACTION_BASE_URL)</string>
  <key>AUTH_CLIENT_ID</key>
  <string>$(AUTH_CLIENT_ID)</string>
  <key>APP_ENV_NAME</key>
  <string>$(APP_ENV_NAME)</string>
  <key>LOG_LEVEL</key>
  <string>$(LOG_LEVEL)</string>
</dict>
</plist>
